parameters:
    fondofakeneo_export_connector.processor.normalization.product.class: FondOfAkeneo\Bundle\ExportConnectorBundle\Processor\Normalization\ProductProcessor

services:
    fondofakeneo_export_connector.processor.normalization.product:
        class: '%fondofakeneo_export_connector.processor.normalization.product.class%'
        arguments:
            - '@pim_catalog.normalizer.standard.product'
            - '@pim_catalog.repository.channel'
            - '@pim_catalog.repository.attribute'
            - '@pim_connector.processor.bulk_media_fetcher'
            - '@pim_catalog.values_filler.product'
            - '@pim_connector.doctrine.cache_clearer'